@mixin mobile {
    @media screen and (max-width: $mobile){
        @content;
    }
}

@mixin desktop {
    @media screen and (max-width: $desktop){
        @content;
    }
}

@mixin font-16-700 {
    font-size: 16px;
    font-weight: 700;
}

@mixin flex($align-item, $justify-content) {
    display: flex;
    align-items: $align-item;
    justify-content: $justify-content;
}