$mobile: 768px;
$desktop: 1024px;

$header-background-color: var(--main-color);
$header-text-color: var(--text-color);
$header-text-active-color: var(--text-active-color);
$header-height: 3.5rem;

$footer-background-color: var(--main-color);
$footer-text-color: var(--text-color);
$footer-text-active: var(--text-active-color);
$footer-height: 3rem;