header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  background-color: $header-background-color;
  color: $header-text-color;

  @include desktop {
    .responsive_nav {
      transform: none;
      background-color: red;
    }
  }

  nav {
    display: flex;
    align-items: center;

    .header_menu_item a {
      margin: 0 2rem;
      color: $header-text-color;
      text-decoration: none;

      &:hover {
        color: $header-text-active-color;
      }

      @include desktop {
        font-size: 1.5rem;
      }
    }

    @include desktop {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;
      background-color: $header-background-color;
      transition: 1s;
      transform: translatey(-100vh);
      .nav-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
      }
    }
  }

  .nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: $header-text-color;
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;

    @include desktop {
      visibility: visible;
      opacity: 1;
    }
  }
}
