:root {
  --main-color: #1b2430;
  --main-color-light: #0e8388;
  --secondary-color: #ecf2ff;

  --text-color: #fff;
  --text-color-context: #1b2430;
  --text-active-color: #f2cd5c;

  --layout-color: #ecf2ff;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--secondary-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--main-color-light);
}
