@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

:root {
    --main-color: #1b2430;
    --main-color-light: #0E8388;
    --secondary-color: #2E4F4F;
    --text-color: #fff;
    --text-active-color: #F2CD5C;
}